@import "variables.scss";
.container {
  // width: 95%;
  position: relative;
  .main-part{
    order: 3;
  }
  .left{
    order: 1;
    width: 30%;
    min-width: 14rem;
    height: $leftHeight * 3;
  }
  .right{
    position: absolute;
    top: $leftHeight;
    order: 2;
    width: 30%;
    min-width: 14rem;
  }
}
