.header{
  padding: 0 0.3rem;
}

.container {
  flex-direction: column;
  width: 100%;
  margin: 0;

  .main-part {
    order: 2;
    width: 100%;
    padding: 1rem;
  }

  .left {
    order: 1;
    width: 100%;
    padding: 1rem;
  }

  .right {
    order: 3;
    width: 100%;
    padding: 1rem;
  }
}