// 黑色模式
$fontColor: #eeefef;
$backColor: #191a27;
$frontColor: #262c39;

// 浅色模式
// $fontColor #37455c;
// $backColor: #f3f5f9;
// $frontColor: #ffffff

$hoverFontColor: skyblue; //#368ddf;
$hoverBGColor: #3f485f;

$leftHeight: 20.5rem;
$rightHeight: 25rem;
$heartWidth: 85%;