// 黑色模式
$fontColor: #eeefef;
$backColor: #191a27;
$frontColor: #262c39;

// 浅色模式
// $fontColor #37455c;
// $backColor: #f3f5f9;
// $frontColor: #ffffff


//#475b6d;
$leftHeight: 25rem;
$rightHeight: 25rem;
$heartWidth: 85%;